/* Widgets */
QScrollArea {
    border: 1px solid gray;
    border-radius: 2px;
    }


QWidget {
    background: #1e0f24;
    color:rgb(240, 89, 65);
    border-color: #BE3144;
}


/* QLabel */
QLabel {
    color: #F05941;

}

QLabel#indicator {
    border: 1px solid gray;
    border-radius: 2px;
    }
QLabel#subtitle {
    font-weight: 400;
    font-size: 16px;
    }

/* QPushButton */
